<!-- {% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}

<center>
    {% include 'snippets/alert.html' %}
</center>
<header>
    <div class="container-fluid">
        <div class="border-bottom pt-6">
            <div class="row align-items-center">
                <div class="col-sm col-12" style="display: flex;">
                    <h1 class="h2 ls-tight">Banner List</h1>
                     <a style="margin-left: 1rem;" data-bs-toggle="modal" data-bs-target="#banner_create_modal" class="btn btn-sm btn-neutral">
                        <i class="bi bi-plus">Add New Banner</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="py-6 bg-surface-secondary">


    <div class="container-fluid">
        <div class="vstack gap-4">
            <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">

                <div class="btn-group">
                    
                    

                </div>
            </div>

            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Banner ID</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="test_table_tbody">
                            {% for banner in banner_list %}
                            <tr>
                                <td>{{banner.id}}</td>
                                <td>
                                    {% if banner.image %}
                                    <img src="{{banner.image.url}}" style="height: 150px;width: 150px;"/>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'admin_dashboard:web_banner_delete' banner.id %}">
                                        <button type="button"
                                            class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </a>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>

                </div>
                
            </div>
        </div>
    </div>
</main> -->

<!-- banner create modal -->
<!-- <div class="modal fade" id="banner_create_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Banner</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <center>
                <button class="btn btn-primary" type="submit">
                    add banner
                </button>
            </center>

          </form>
        </div>

      </div>
    </div>
  </div> -->

{% endblock content %}
