{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}
{% load admin_dash %} 

<main class="py-6 bg-surface-secondary">

  <div class="container-fluid">

    <div class="row g-6 mb-6">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Accept Pending</span><span
                  class="h3 font-bold mb-0">₹ {% rounda order.Placed.total_order_value %}</span></div>
              <div class="col-auto">
                <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"><i
                    class="bi bi-credit-card"></i></div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm"><span class="badge badge-pill bg-soft-success text-success me-2"><i
                  class="bi bi-arrow-up me-1"></i>{{order.Placed.count}} </span></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Order Accepted</span>
                <span class="h3 font-bold mb-0">₹{{order.Accepted.total_order_value}}</span></div>
              <div class="col-auto">
                <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"><i
                    class="bi bi-people"></i></div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm"><span class="badge badge-pill bg-soft-success text-success me-2"><i
                  class="bi bi-arrow-up me-1"></i>{{order.Accepted.count}} </span></div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">On-way</span>
                <span class="h3 font-bold mb-0">₹ {{order.On_Way.total_order_value}}</span></div>
              <div class="col-auto">
                <div class="icon icon-shape bg-info text-white text-lg rounded-circle"><i
                    class="bi bi-clock-history"></i></div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm"><span class="badge badge-pill bg-soft-success text-success me-2"><i
                  class="bi bi-arrow-up me-1"></i>{{order.On_Way.count}} </span></div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Refund</span>
                <span class="h3 font-bold mb-0">₹ {{order.Refund.total_order_value}}</span></div>
              <div class="col-auto">
                <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"><i
                    class="bi bi-minecart-loaded"></i></div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm"><span class="badge badge-pill bg-soft-success text-success me-2"><i
                  class="bi bi-arrow-up me-1"></i>{{order.Refund.count}}</span></div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Return</span>
                <span class="h3 font-bold mb-0">₹ {{order.Return.total_order_value}}</span></div>
              <div class="col-auto">
                <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"><i
                    class="bi bi-minecart-loaded"></i></div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm"><span class="badge badge-pill bg-soft-success text-success me-2"><i
                  class="bi bi-arrow-up me-1"></i>₹ {{order.Return.total_order_value}}</span></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>
{% endblock content %}