{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Admin Dashboard</title>

	<!-- ------------Shrortcut Icon Links------------ -->
	<link rel="icon" href="{% static 'app_common/img/logos/logo2.png' %}">
	<!-- ---------- CSS Links Files------------- -->
	<link rel="stylesheet" href="{% static 'users/css/Admin_Responsive.css' %}">
	<link rel="stylesheet" href="{% static 'admin_dashboard/css/Admin_side_all.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/admin_products.css' %}">

	<!-- ------------------Icons Files Link------------- -->

	<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
	<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

	<!-- Bootstrap Files And CDN Links -->
	<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
		integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
	.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .chevron-icon {
    margin-left: 5px; /* Space between icon and text */
}
</style>

<body>

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img src="/static/app_common/img/logos/logo2.png" class="logo-image img-fluid rounded-5 bg-white" style="height: 50px; width: 50px;" alt="templatemo pod talk">
			<span class="logo_name" style="font-size: 26px;">PRAVATI INTERNATIONAL</span>
			<span class="text"></span>
		</a>
		<ul class="side-menu top">
			<li class="active sidebar-item">
				<a href="{% url 'admin_dashboard:admin_dashboard' %}">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Admin Dashboard</span>
				</a>
			</li>
	
			<li class="sidebar-item">
				<a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
					aria-expanded="false" aria-controls="auth" onclick="toggleChevron(this)">
					<i class='bx bxs-doughnut-chart'></i>
					<span>Users Management</span>
					<i class="lni lni-chevron-down chevron-icon" style="margin-left: auto;"></i> <!-- Move icon to the left -->
				</a>
				<ul class="sidebar-dropdown collapse ms-2" data-bs-parent="#sidebar" id="auth">
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:add_user' %}" class="sidebar-links">
							<i class="lni lni-plus"></i><span class="ms-4">Add User</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:user_list' %}" class="sidebar-links">
							<i class="lni lni-users"></i>View All Users</span></a>
					</li>
				</ul>
			</li>
	
			<li class="sidebar-item">
				<a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#sector"
					aria-expanded="false" aria-controls="sector" onclick="toggleChevron(this)">
					<i class="lni lni-home"></i>
					<span>Sector Management</span>
					<i class="lni lni-chevron-down chevron-icon" style="margin-left: auto;"></i>
				</a>
				<ul class="sidebar-dropdown collapse ms-2" data-bs-parent="#sidebar" id="sector">
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:sector_add' %}" class="sidebar-links">
							<i class="lni lni-plus"></i><span class="ms-4">Add Sector</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:sector_list' %}" class="sidebar-links">
							<i class="lni lni-list"></i>View All Sectors</span></a>
					</li>
				</ul>
			</li>
	
			<li class="sidebar-item">
				<a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#job"
					aria-expanded="false" aria-controls="job" onclick="toggleChevron(this)">
					<i class="lni lni-briefcase-alt"></i>
					<span>Job Management</span>
					<i class="lni lni-chevron-down chevron-icon" style="margin-left: auto;"></i>
				</a>
				<ul class="sidebar-dropdown collapse ms-2" data-bs-parent="#sidebar" id="job">
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:category_add' %}" class="sidebar-links">
							<i class="lni lni-plus"></i><span class="ms-4">Add Category</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:category_list' %}" class="sidebar-links">
							<i class="lni lni-list"></i>All Job Categories</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:job_add' %}" class="sidebar-links">
							<i class="lni lni-plus"></i><span class="ms-4">Add Job</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:job_list' %}" class="sidebar-links">
							<i class="lni lni-list"></i>Job Openings</span></a>
					</li>
				</ul>
			</li>
	
			<li>
				<a href="{% url 'admin_dashboard:application_list' %}" class="">
					<i class="lni lni-user"></i>
					<span class="text">Candidate List</span>
				</a>
			</li>
	
			<li>
				<a href="{% url 'admin_dashboard:employee_list' %}" class="">
					<i class="lni lni-users"></i>
					<span class="text">Employee List</span>
				</a>
			</li>
	
			<li class="sidebar-item">
				<a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#client"
					aria-expanded="false" aria-controls="client" onclick="toggleChevron(this)">
					<i class="lni lni-briefcase-alt"></i>
					<span>Client Management</span>
					<i class="lni lni-chevron-down chevron-icon" style="margin-left: auto;"></i>
				</a>
				<ul class="sidebar-dropdown collapse ms-2" data-bs-parent="#sidebar" id="client">
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:client_create' %}" class="sidebar-links">
							<i class="lni lni-plus"></i><span class="ms-4">Add client</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:client_list' %}" class="sidebar-links">
							<i class="lni lni-users"></i><span class="ms-4">All Clients</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:provide_employee' %}" class="sidebar-links">
							<i class="lni lni-popup"></i>Provide Employee</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:provided_employee_list' %}" class="sidebar-links">
							<i class="lni lni-popup"></i>Provided Employee List</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'admin_dashboard:client_request' %}" class="sidebar-links">
							<i class="lni lni-popup"></i>Clients Request</span></a>
					</li>
				</ul>
			</li>
	
			<li class="sidebar-item">
				<a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#quotation"
					aria-expanded="false" aria-controls="quotation" onclick="toggleChevron(this)">
					<i class="lni lni-quotation"></i>
					<span>Quotation Management</span>
					<i class="lni lni-chevron-down chevron-icon" style="margin-left: auto;"></i>
				</a>
				<ul class="sidebar-dropdown collapse ms-2" data-bs-parent="#sidebar" id="quotation">
					<li class="sidebar-item">
						<a href="{% url 'quotation:choose_quotation' %}" class="sidebar-links">
							<i class="lni lni-plus"></i><span class="ms-4">Add quotation</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'quotation:view_quotation' %}" class="sidebar-links">
							<i class="lni lni-quotation"></i>View All quotations</span></a>
					</li>
				</ul>
			</li>
	
			<li class="sidebar-item">
				<a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#invoice"
					aria-expanded="false" aria-controls="invoice" onclick="toggleChevron(this)">
					<i class='bx bxs-doughnut-chart'></i>
					<span>Invoice Management</span>
					<i class="lni lni-chevron-down chevron-icon" style="margin-left: auto;"></i>
				</a>
				<ul class="sidebar-dropdown collapse ms-2" data-bs-parent="#sidebar" id="invoice">
					<li class="sidebar-item">
						<a href="{% url 'quotation:invoice_add' %}" class="sidebar-links">
							<i class="lni lni-plus"></i><span class="ms-4">Add invoice</span></a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'quotation:invoice_list' %}" class="sidebar-links">
							<i class="lni lni-list"></i>View All Invoices</span></a>
					</li>
				</ul>
			</li>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link font-bold {% if request.resolver_match.url_name == 'all_contact_message' %}active{% endif %}" style="background:none" href="{% url 'admin_dashboard:all_contact_message' %}" role="button" aria-expanded="false" aria-controls="sidebar-projects">
						<i class="lni lni-headphone"></i> Contact Message
					</a>
				</li>
			</ul>
			<ul class="side-menu">
				<li class="sidebar-item">
					<a data-bs-toggle="modal" data-bs-target="#logoutModal" class="logout">
						<i class="lni  lni-exit"></i>
						<span class="text">Logout</span>
					</a>
				</li>
			</ul>
		</ul>
		
	</section>
	
		
	<!-- SIDEBAR -->

	<section id="content">

		<!-- NAVBAR -->
		<nav>
			<div class="sidebar-button">
				<i class="bx bx-menu sidebarBtn"></i>
				<span class="dashboard">Dashboard</span>
			</div>
			<form action="#">
				<div class="form-input">
					<!-- <input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button> -->
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<!-- <label for="switch-mode" class="switch-mode"></label> -->
			<a href="#" class="notification">
				<!-- <i class='bx bxs-bell'></i>
				<span class="num">8</span> -->
			</a>
			<a href="#" class="profile">
        <img src="/static/app_common/img/logos/logo2.png" class="logo-image img-fluid rounded-5 bg-white " style="height: 50px; width: 50px;" alt="templatemo pod talk">
				<span class="admin_name">{{request.user.email}}</span>
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<div class="background_color_page" style="min-height: 92vh;">
			{% block content %}

			{% endblock content %}
		</div>
		<!-- MAIN -->

	</section>

	<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="logoutModalLabel">Logout Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Are you sure you want to logout?
				</div>
				<div class="modal-footer">
					<a href="{% url 'user:logout' %}?confirm=true" class="btn btn-primary">Yes, Logout</a>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			// Handle the click on the Products link to toggle the dropdown
			$('#productsLink').on('click', function(e) {
				e.stopPropagation();
				$('#auth,#sector,#job,#client,#quotation,#invoice').collapse('toggle');
			});
			// Close the dropdown when clicking outside
			$(document).on('click', function(e) {
				if (!$(e.target).closest('#productsLink, #auth,#sector,#job,#client,#quotation,#invoice').length) {
					$('#auth,#sector,#job,#client,#quotation,#invoice').collapse('hide');
				}
			});
		});
	</script>
	{% block js %}

	{% endblock js %}
	<script src="{% static 'users/js/script.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>