{% extends 'admin_dashboard/starter.html' %}
{% load static %}

{% block content %}

<style>
    .table thead th 
    {
        font-size: 18px;
        color: black;
    }
    .btn-info {
        --x-btn-bg:  #d9d9d9;
        border: none;
    }
    .btn-info:hover
    {
      background-color: black;
      color: white;
    }
.table thead th
{
  font-size: 16px;
}
.card-header:first-child
{
  box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
}
tr:hover
    {
        background-color: rgb(244, 212, 169);
    }
</style>

<main class="py-5 bg-surface-secondary">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header border-bottom">
            <h1 class="text-center py-1">All Employee</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-nowrap">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Employer</th>
                    <th>Salary</th>
                    <th>Period Start</th>
                    <th>Period End</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.user.full_name }}</td>
                    <td>{{ employee.employer.full_name }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{{ employee.period_start }}</td>
                    <td>{{ employee.period_end }}</td>
                    <td>
                        <a href="{% url 'admin_dashboard:employee_detail' employee.id %}" class="btn btn-info">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

   
{% endblock %}
