<!-- user/job_detail.html -->

{% extends "user/index.html" %}
{% block main_content %}
<h1>Job Details</h1>
<table class="table">
    <tr>
        <th>Title</th>
        <td>{{ job.title }}</td>
    </tr>
    <tr>
        <th>Company</th>
        <td>{{ job.company_name }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{ job.location }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ job.description }}</td>
    </tr>
    <tr>
        <th>Posted At</th>
        <td>{{ job.posted_at }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ job.get_status_display }}</td>
    </tr>
    <tr>
        <th>Published Date</th>
        <td>{{ job.published_date }}</td>
    </tr>
</table>

<h2>Apply for this Job</h2>
<a href="{% url 'user:job-apply' job.id %}" class="btn btn-primary">Apply now</a>
{% endblock %}
