.list-group {
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.episode-info {
    flex: 1;
}

.episode-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
}

.episode-info p {
    color: #666;
    font-size: 14px;
}

.audio-container {
    flex-shrink: 0;
    margin-left: 20px;
}

.audioPlayer {
    width: 500px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.audioPlayer::-webkit-media-controls-panel {
    background-color: transparent;
}

.audioPlayer::-webkit-media-controls-play-button {
    color: #333;
}

.audioPlayer::-webkit-media-controls-timeline {
    height: 4px;
    background-color: transparent;
}

.audioPlayer::-webkit-media-controls-current-time-display,
.audioPlayer::-webkit-media-controls-time-remaining-display {
    font-size: 12px;
    color: #666;
}