#secondpage-1 {
    height: 80vh;
    width: 100%;
    /* margin-top: 60px; */
}

#secondpage-1>.black-1 {
    height: 99%;
    width: 100%;
    position: relative;
    top: 5px;
    display: flex;
    /* background-color: #ffac1d; */
}

#secondpage-1>.black-1>#box1-1 {
    height: 100%;
    width: 40%;
    text-align: left;
    font-family: poppins;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

}

#secondpage-1>.black-1>#box2-1 {
    height: 100%;
    width: 60%;
    object-fit: cover;
    background-color: #ffffff;

}

.bdcyugu {
    margin-top: 3%;
    height: 80%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
}

/* end banner */

/*start home page-1*/

#secondpage {
    height: 80vh;
    width: 100%;
    margin-top: 60px;

}

#secondpage>.black {
    height: 100%;
    width: 100%;

    position: relative;
    top: 5px;
    display: flex;
    align-items: center;
}

#secondpage>.black>#box1 {
    height: 100%;
    width: 40%;

    text-align: right;
    font-family: poppins;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

#secondpage>.black>#box2 {
    height: 100%;
    width: 60%;

}

/* end home page-1*/

/* start home page-2  */

.page-2 {
    height: 70vh;
    width: 100%;

}

.page-2>nav {
    height: 100px;
    width: 100%;

    text-align: center;
    font-size: 40px;
    font-family: poppins;
}

article>#con {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

section>article>#con>.a {
    height: 75%;
    width: 30%;
    text-align: center
}

section>article>#con>.e>.aa {
    height: 15%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.pic {
    height: 70%;
    width: 40px;

}

.page-2>article>#con>.a>#uu {
    height: 20px;
    width: 80%;
    margin-top: 5px;
    margin-left: 28px;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.3em;
    text-align: center;
    font-family: poppins;

}

.page-2>article>#con>.a>#kk {
    height: 200px;
    width: 80%;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
    font-size: medium;

    font-family: poppins;
}


/* end home page-2  */

/* start home page-3  */


.qqq {
    height: 20vh;
    width: 100%;

}

.www {
    height: 50%;
    width: 100%;

    text-align: center;
    /* font-family: poppins; */
}

.eee {
    height: 30%;
    width: 100%;

    text-align: center;
    /* font-family: poppins; */
}

/* end home page-3 */

/* start home page-4  */

.rrr {
    height: 75vh;
    width: 100%;

}

.carousel-fade {
    margin-left: -15.7;
}

.carousel-inner {
    height: 70vh;
    width: 101.3%;
}

.carousel-item {
    height: 70vh;
    width: 100%;
    overflow: hidden;

}

.carousel-item>.d-block {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.lpo {
    height: 50px;
    width: 100%;
    font-size: 30px;
    color: aliceblue;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mnbvcc {
    background-color: #000000;
    /* max-height: 1000px; */
}

.faq-container {

    padding-top: 20px;
    max-width: 950px;
    margin: 0 auto;
}

.faq-item {

    margin-bottom: 30px;
}

.question {
    cursor: pointer;
    padding: 8px;
    /* background-color: #f1f1f1; */
    /* border-radius: 5px; */
    margin: 10px;
    color: aliceblue;
}

.question:hover {
    color: #ffac1d;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ffac1d;
    border-radius: 5px;
    color: aliceblue;
}

.question::after {
    content: '\25B6';
    /* Unicode character for right-pointing arrow */
    float: right;
}

.question.open::after {
    content: '\25BC';
    /* Unicode character for down-pointing arrow */
}

.answer.show {
    display: block;
}