{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}

<center>
    {% include 'snippets/alert.html' %}
</center>
<header>
    <div class="container-fluid">
        <div class="border-bottom pt-6">
            <div class="row align-items-center">
                <div class="col-sm col-12">
                    <h1 class="h2 ls-tight">Catagory List</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="py-6 bg-surface-secondary">
    
    
    <div class="container-fluid">
        <div class="vstack gap-4">
            <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
                <div class="hstack gap-2">
                    <div class="input-group input-group-sm input-group-inline">

                    </div>

                </div>
                
            </div>
            
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Name</th>
                                <!-- <th scope="col">Description</th> -->
                                <th scope="col">Job Count</th>
                                <th scope="col">Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="test_table_tbody">
                            {% for catagory,product_count in catagory_product_count_zip %}
                                <tr>
                                    <td>
                                        <a class="text-heading text-primary-hover font-semibold" href="#">{{catagory.title}}</a>
                                    </td>
                                    <!-- <td>{{catagory.description}}</td> -->
                                    
                                    <td>{{product_count}}</td>
                                    
                                    <td >
                                        <a href="{% url 'admin_dashboard:catagory_update' catagory.id %}" class="btn btn-sm btn-square btn-neutral">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                       <a href="{% url 'admin_dashboard:catagory_delete' catagory.id %}">
                                            <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                       </a>
                                        
                                    </td>
                                </tr> 
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0 py-5">
                </div>
            </div>
        </div>
    </div>
</main> 


<!-- test create modal -->


{% endblock content %}

