{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}

<body>
    <h1>Client List</h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.full_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.contact }}</td>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No clients found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        {% for client in clients %}
          <li><a href="{% url 'admin_dashboard:client_detail' client.id %}">{{ client.full_name }}</a></li>
        {% endfor %}
      </ul>
</body>
{% endblock content %}
