<!-- admin_dashboard/job_detail.html -->
{% extends 'admin_dashboard/starter.html' %} {% load static %} 
{% block content%}
<style>
    .create_test 
    {
        width: 70%;
        font-family: merriwether;
        padding: 40px;
        box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
        border-radius: 15px !important;
        background:transparent;
    }
    .gap-4 
    {
        display: flex;
        justify-content: center;
        
    }
    th
    {
        width: 100px;
    }
    tr
    {
        width: 100%;
    }
    td
    {
        width: 100px;
        padding: 10px;
       
    }
    tr:hover
    {
      background-color: rgb(244, 212, 169);
    }
    .create_test form {
      margin-top: 21px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
  }
</style>


<div class="gap-4 py-5">
  <div class="create_test">
    <h1 class="mb-5">Job Details</h1>
    <table style="width: 600px;">
      <tr>
        <th>ID</th>
        <td>{{ job.id }}</td>
      </tr>
      <tr>
        <th>Company Logo</th>
        <td>
          {% if job.company_logo %}
          <img
            src="{{ job.company_logo.url }}"
            alt="Company Logo"
            width="100"
          />
          {% else %} No logo available {% endif %}
        </td>
      </tr>

      <tr>
        <th>Company Name</th>
        <td>{{ job.company_name }}</td>
      </tr>

      <tr>
        <th>Company Website</th>
        <td>
          <a href="{{ job.company_website }}">{{ job.company_website | truncatechars:20 }}</a>
        </td>
      </tr>

      <tr>
        <th>Category</th>
        <td>{{ job.category.title }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ job.description }}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>{{ job.location }}</td>
      </tr>
      <tr>
        <th>Posted At</th>
        <td>{{ job.posted_at }}</td>
      </tr>
      <tr>
        <th>Published</th>
        <td>{{ job.status }}</td>
      </tr>
      <tr>
        <th>Expiry Date</th>
        <td>{{ job.expiry_date }}</td>
      </tr>
      <tr>
        <th>Vacancies</th>
        <td>{{ job.vacancies }}</td>
      </tr>
      <tr>
        <th>Number of Applications</th>
        <td>{{ applications_count }}</td>
      </tr>
      <tr>
        <th>Job Type</th>
        <td>{{ job.job_type }}</td>
      </tr>
      <tr>
        <th>Updated At</th>
        <td>{{ job.updated_at }}</td>
      </tr>
      <tr>
        <th>Client</th>
        <td>{{ job.client.full_name }}</td>
      </tr>
    </table>

    <div>
      <h2>Application List</h2>

    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Job Category</th>
                    <th>Email</th>
                    <th>Contact</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td>{{ application.user.full_name }}</td>
                        <td>{{ application.job.category }}</td>
                        <td>{{ application.email }}</td>
                        <td>{{ application.contact }}</td>
                        
                    </tr>
                  </tbody>
                </table>
            {% endfor %}
    </div>
      

    <a href="{% url 'admin_dashboard:job_list' %}">Back to Job List</a>
  </div>
</div>

{% endblock content %}
