{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}
<body>
    <h1>Job Detail</h1>
    <table>
        <tr>
            <th>ID</th>
            <td>{{ job.id }}</td>
        </tr>
        <tr>
            <th>Company Logo</th>
            <td>
                {% if job.company_logo %}
                    <img src="{{ job.company_logo.url }}" alt="Company Logo" width="100">
                {% else %}
                    No logo available
                {% endif %}
            </td>
        </tr>

        

        <tr>
            <th>Company Name</th>
            <td>{{ job.company_name }}</td>
        </tr>

        <tr>
            <th>Company Website</th>
            <td><a href="{{ job.company_website }}">{{ job.company_website }}</a></td>
        </tr>

        
        
        <tr>
            <th>Category</th>
            <td>{{ job.catagory.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ job.description }}</td>
        </tr>
        <tr>
            <th>Requirements</th>
            <td>{{ job.requirements }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ job.location }}</td>
        </tr>
        <tr>
            <th>Posted At</th>
            <td>{{ job.posted_at }}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{{ job.status }}</td>
        </tr>
        <tr>
            <th>Expiry Date</th>
            <td>{{ job.expiry_date }}</td>
        </tr>
        
        
        
        <tr>
            <th>Vacancies</th>
            <td>{{ job.vacancies }}</td>
        </tr>

        <tr>
            <th>Number of Applications</th>
            <td>{{ applications_count }}</td>
        </tr>

        <tr>
            <th>Job Type</th>
            <td>{{ job.job_type }}</td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td>{{ job.updated_at }}</td>
        </tr>

        <tr>
            <th>Client</th>
            <td>{{ job.client.full_name }}</td>
        </tr>

        
       
    
    </table>
    
    <a href="{% url 'admin_dashboard:job_list' %}">Back to Job List</a>
</body>
{% endblock content %}