{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}
<style>
    .create_test 
    {
        width: 70%;
        font-family: merriwether;
        padding: 10px;
        box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
        border-radius: 15px !important;
        background:transparent;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
        padding: 10px;
        border-radius: 15px !important;
        font-family: merriwether;
        
    }
    .gap-4 
    {
        display: flex;
        align-items: center;
    }
    button, select {
        background: transparent;
        
    }
    input, button, select, optgroup, textarea {
       background: transparent;
    }
    .btnn
    {
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
            padding: 10px;
            border-radius: 15px !important;
            font-family: merriwether;
    }
</style>

<main class="py-5 bg-surface-secondary">

    <div class="container-fluid">
        <div class="vstack gap-4">

            <div class="card create_test">
                <h2 class="text-center">Add Job</h2>
                <form method="post" enctype="multipart/form-data">
                    {% include 'snippets/alert.html' %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="px-4 btnn">Save</button>
                </form>
                
            </div>
                
        </div>
    </div>
</main>
{% endblock content %}