{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% block content %}
<style>
  
    p {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
        padding: 10px;
        border-radius: 15px !important;
        font-family: merriwether;
        display: flex;
        
    }
    
   
    input, button, select, optgroup, textarea {
       background: transparent;
    }
   
    .custom-card-header {
        background-color: white !important;
        box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
        color:black !important;
    }
    .custom-card-header h2 {
        color:black  !important;
        font-family: merriwether;
    }
    button{
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
        background-color: rgb(185, 184, 184);
        padding: 13px;
        border-radius: 15px !important;
        font-family: merriwether;
        font-size: 20px;
        width: 100%;   
    }
    button:hover{
       background-color: black;
       color: white;   
    }
    .card-body
    {
        font-family: merriweher;
        
    }
    .form-control
    {
        width: 100%;
    }
</style>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header custom-card-header text-white col-md-12">
                    <h2 class="text-center">Add Job</h2>
                </div>
                <div class="card-body">
                    
                        <form method="post" enctype="multipart/form-data" class="">
                            {% include 'snippets/alert.html' %}
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="px-4 btnn">Save</button>
                            </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

