{% extends 'user/landing_page.html' %}
{% load static %}
{% block title %}
About Page
{% endblock title %}

{% block main_content %}

<div class="responsive-container-block bigContainer">

  <div class="responsive-container-block Container bottomContainer my-0">
    <img class="mainImg" src="{% static 'images/r5.jpg' %}">
    <div class="allText bottomText">
      <p class="text-blk headingText">
        About Us
      </p>
      
      <p class="text-blk description">
        Pravati International Service Private Limited is a leading provider of manpower outsourcing services, catering to a diverse range of sectors including reputed hospitals, hotels, schools, government offices, NGOs, and manufacturing companies. Our extensive experience and commitment to excellence make us a trusted partner for organizations seeking to enhance their operational efficiency and focus on their core activities. Our mission is to deliver high quality manpower solutions that meet the unique needs of our clients, enabling them to achieve their strategic goals. We strive to provide a seamless and reliable service that ensures the right talent is placed in the right roles, contributing to the overall success of our clients.
      </p>
      <a href="{% url 'user:sector' %}">
        <button class="explore">
        Explore
        </button>
      </a>
        
      
    </div>
  </div>

  <div class="responsive-container-block Container">
    <img class="mainImg" src="{% static 'images/s11.jpg' %}">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        Why Choose Us
      </p>
      
      <p class="text-blk description">
        At our Sector, our MD emphasizes the importance of personalized treatment
                         plans tailored to each patient's unique needs and circumstances. We are dedicated to staying at the forefront of medical 
                         advancements, ensuring that our patients receive the most effective and innovative care available. Whether treating respiratory
                          conditions, managing chronic illnesses, or providing critical care interventions, our team is committed to excellence in every
                           aspect of patient care. Our MD's message serves as a guiding principle for our hospital, inspiring us to continuously strive for excellence and to uphold the highest standards of medical care. 
      </p>
      <a href="{% url 'user:sector' %}">
        <button class="explore">
        Explore
        </button>
      </a>
    </div>

    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="{% static 'images/s9.jpg' %}">
      <div class="allText bottomText">
        <p class="text-blk headingText">
          Our Mission
        </p>
        
        <p class="text-blk description">
          Welcome to  where talent meets opportunity.
               We are recognized for our cost effective placements services. If you are looking for specialized recruitment solutions, get in touch with one of the best employment agencies. We are a renowned placement agency with an excellent track record. Trust our reliable methods to find the best candidates for your organization.
               Whether you have an urgent requirement or need hundreds of employees for a company, we are happy to help you.
        </p>
        <a href="{% url 'user:sector' %}">
          <button class="explore">
          Explore
          </button>
        </a>
      </div>
    </div>
  </div>
  
</div>


{% endblock main_content %}