{% extends 'user/index.html' %}
{% load static %}
{% block title %}
Account Details
{% endblock title %}
{% block main_content %}
<section class="mt-2">
            <div class="col-sm-8 offset-sm-1">
                <div class="container h-100 mt-2">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="card p-3 py-4">
                
                            <div class="text-center">
                                {% if profileobj.profile_pic %}
                                    <img src="{{ profileobj.profile_pic.url }}" width="100" class="rounded-circle">
                                {% else %}
                                    <img src="https://i.imgur.com/bDLhJiP.jpg" height="100" width="100" class="rounded-circle">      
                                {% endif %}
                            </div>
                            
                            <div class="text-center mt-3">
                                <h5 class="mt-2 mb-0">{{ userobj.full_name }}</h5>
                                <span>e-mail : {{ userobj.email }}</span>
                                <span class="fw-bold">|</span>
                                <span>contact : {{ userobj.contact }}</span>
                                
                                <div class="px-4 mt-1">
                                    <p class="fonts">skills :{{ profileobj.skills }}</p>
                                
                                </div>
                                
                                <div class="buttons">
                                    
                                    <a href="{% url 'user:updateprofile' %}" class="btn btn-primary px-4">Update Profile</a>
                                </div>
                                
                                
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}