{% extends "user/base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'user:client_job_list' %}" class="list-group-item list-group-item-action">Job Listings</a>
                <a href="" class="list-group-item list-group-item-action">Profile</a>
                <a href="" class="list-group-item list-group-item-action">Update Profile</a>
                <a href="{% url 'user:client_post_job' %}" class="list-group-item list-group-item-action">Post New Job</a>
                <a href="" class="list-group-item list-group-item-action">Employees</a>
                <a href="" class="list-group-item list-group-item-action">Applications</a>
                <li class="nav-item">
                    <a class="nav-link font-bold"style="background:none" href="{% url 'user:logout' %}" role="button" aria-expanded="false" aria-controls="sidebar-projects">
                        <i class="fas fa-sign-out-alt"></i> Log Out
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content-section">
                <h1>Welcome, {{ user.full_name }}</h1>
                <p>Manage your jobs, update your profile, and view applications from here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}