{% extends 'user/index.html' %}
{% load static %}
{% block title %}
Home Page
{% endblock title %}
{% block main_content %}
<style>
    .small-card {
        width: 250px; /* Adjust the width as needed */
        background: rgb(241,50,50);
        background: linear-gradient(343deg, rgba(241,50,50,1) 0%, rgba(255,137,137,1) 47%, rgba(237,177,177,1) 100%);
        border-radius: 10px;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 350px; /* Set card height */
        overflow: hidden;
        padding: 20px;
    }
    .small-card-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%; /* Circle shape for the image */
    }
</style>    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="text-center mb-5 pb-2">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/d3.jpg' %}" class="d-block w-100" height="600rem" width="60%" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h2  style="color:#6f827d" >Welcome to Pravati International Services Private Limited</h2>
                                    
                                    <p style="color:#d43520"> <b>Provide emergency medical care,
                                        stabilize patients, and transport them
                                        to medical facilities. They respond to
                                        emergency calls, perform CPR,
                                        administer oxygen, and use
                                        defibrillators.</b></p>
                                </div>
                               
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/dd2.jpg' %}" class="d-block w-100" height="600rem" width="60%" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5  style="color: #03fcad;">Quality Services</h5>
                                    <p style="color: #03fcad;"><b> One of the affordable place in your price range with all in one package all amenities.
                                         Good ambience, customer friendly service and food. Rooms are clean and maintenance is good </b>
                                    </p>
                                </div>
                               
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/dd3.0.jpg' %}" class="d-block w-100" height="600rem" width="60%" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="color: #2e2727;">Professional Team</h5>
                                    <p style="color: #2e2727"><b>Industrial Training Institutes (ITIs) offer
                                        technical education in various trades
                                        and skills that prepare students for
                                        employment in specific industries. ITIs
                                        focus on providing vocational training
                                        to develop skilled technicians and
                                        craftsmen.</b></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/dd4.jpg' %}" class="d-block w-100" height="600rem" width="60%" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5  style="color: #03fcad;">Innovative Solutions</h5>
                                    <p  style="color: #03fcad;"><b>Perform various administrative
                                        functions such as data management,
                                        filing, and document preparation.</b></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/dd5.0.jpg' %}" class="d-block w-100" height="600rem" width="60%" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5  style="color: #03fcad;">Customer Satisfaction</h5>
                                    <p  style="color: #03fcad;"><b>Greet and assist visitors, patients, or
                                        clients. Answer phone calls and direct
                                        them to the appropriate personnel.<b/>
                                        </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/dd6.jpg' %}" class="d-block w-100" height="600rem" width="60%" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="color:#DB484A">Reliable Support</h5>
                                    <p  style="color:#D71315"><b>We place our clients at the
                                        center of everything we do, striving to exceed their
                                        expectations and foster long-term relationships.</b>
                                        </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/dd7.1.jpg' %}" class="d-block w-100" height="600rem" width="60%" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="color:#DB484A">Comprehensive Services</h5>
                                    <p  style="color:#D71315"><b>Perform various administrative
                                        functions such as data management,
                                        filing, and document preparation.</b></p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        
                 <!--   </div>
                    <h3 class="text-black">WELCOME TO PRAVATI INTERNATIONAL</h3>
                    <h3 class="text-black">SERVICES PRIVATE LIMITED</h3>
            
                    <!-- <a href="#section_2" class="btn custom-btn smoothscroll mt-3">Click Here</a> -->
                </div> 
            
                {% for book in audioBookss %}
                <div class="owl-carousel-info-wrap item">
                    <img src="{{ book.audiobook_image.url }}" class="owl-carousel-image img-fluid" alt="" style="height: 4000px;">
                    <div class="owl-carousel-info">
                        <small class="mb-2">{{ book.title }}</small><br>
                        <span class="badge">{{ book.book_discount_price }}</span>
                        <span class="badge bg-danger" style="text-decoration: line-through;">{{ book.book_max_price }}</span>
                    </div>
                    <div class="social-share">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="" class="social-icon-link fa fa-info-circle"></a>
                            </li>
                            <li class="social-icon-item">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ book.id }}">
                                    <input type="hidden" name="quantity" value="1">
                                    <button type="submit" class="social-icon-link fas fa-shopping-cart"></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            

        </div>
    </div>
</section>
<!-- About us Start-->
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5 d-flex justify-content-center">
                <img class="img-fluid rounded" loading="lazy" src="{% static 'images/s9.jpg' %}" alt="About 1" style="width: 400px">
              </div>
              <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                  <div class="col-12 col-xl-11">
                    <h3 class="mb-3 text-center">ABOUT US</h3>
                    <p class="lead fs-5 text-secondary mb-3">Pravati International Service Private Limited is a leading provider of manpower outsourcing services, catering to a diverse
                        range of sectors including reputed hospitals, hotels, schools, government offices, NGOs, and manufacturing  companies. Our extensive experience and
                         commitment to excellence make us a  trusted partner for organizations seeking
                        to enhance their operational efficiency and focus on their core activities </p>
                    </div>
                    </div>
                    </div>
        </div >
    </div>
</section>
<!-- About us End-->

 <!-- Service Start-->
 <div class="container mt-4">
    <h3 class="text-center mb-4">OUR SERVICES</h3>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/s1.jpg' %}" alt="Service Image 1">
                <div class="card-body">
                    <h6 class="card-title">All Paramedical Staff
                    </h6>
                    <p class="card-text">Highly trained paramedical staff delivering top-notch care, ensuring patient safety and comfort at all times.</p>
                   
                        <a href="#" class="btn btn-primary">More Details</a>
                   
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/m1.jpg' %}" alt="Service Image 2">
                <div class="card-body">
                    <h6 class="card-title">Housekeeping & Security</h6>
                    <p class="card-text">Ensuring cleanliness and safety with professional housekeeping and reliable security services for all environments.</p>
                   
                        <a href="#" class="btn btn-primary">More Details</a>
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/m2.jpg' %}" alt="Service Image 3">
                <div class="card-body">
                    <h6 class="card-title">BedSide Patient Attendant
                    </h6>
                    <p class="card-text">Providing compassionate care and support, ensuring patient comfort and well-being with professional bedside assistance.</p>
                        
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/m3.jpg' %}" alt="Service Image 4">
                <div class="card-body">
                    <h6 class="card-title">Home Nursing
                    </h6>
                    <p class="card-text"> home nursing services offering personalized care, medical assistance, and support for patients in the comfort of their homes.</p>
                    
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/m5.jpg' %}" alt="Service Image 2">
                <div class="card-body">
                    <h6 class="card-title">Data Entry, Front Office & Back Office
                    </h6>
                    <p class="card-text">Efficient data entry, organized front office, and streamlined back office operations for optimal business functionality.</p>
                    
                        <a href="#" class="btn btn-primary">More Details</a>
                   
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/m4.jpg' %}" alt="Service Image 2">
                <div class="card-body">
                    <h6 class="card-title">ITI, Diploma, Degree Engineer</h6>
                    <p class="card-text">ITI for technical skills, Diploma for intermediate expertise, Degree Engineer for advanced engineering knowledge.</p>
                    {% comment %} <div class="mt-auto d-flex justify-content-center"> {% endcomment %}
                        <a href="#" class="btn btn-primary">More Details</a>
                    {% comment %} </div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/m6.jpg' %}" alt="Service Image 2">
                <div class="card-body">
                    <h6 class="card-title">Fire Safety & Office Boy
                    </h6>
                    <p class="card-text">Fire Safety ensures workplace safety; Office Boy supports daily office tasks, ensuring smooth operations and cleanliness.                                    </p>
                  
                        <a href="#" class="btn btn-primary">More Details</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <h3 class="text-center mb-4">INDUSTRIES WE SERVE</h3>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <div class="card small-card">
                <img class="card-img-top small-card-img" src="{% static 'images/s2.jpg' %}" alt="Healthcare Industry">
                <div class="card-body">
                    <h6 class="card-title" style="text-align: center;">Hospital</h6>
                    <p class="card-text" style="color:#fff">Local hospital celebrates milestone, saving lives with cutting-edge technology, dedicated staff, and compassionate care.</p>
                </div>
            </div>
        </div>
        <div class="col-16 col-md-4 col-lg-2 mb-4">
            <div class="card small-card">
                <img class="card-img-top small-card-img" src="{% static 'images/s3.jpg' %}" alt="Healthcare Industry">
                <div class="card-body">
                    <h6 class="card-title" style="text-align: center;">Hotel</h6>
                    <p class="card-text" style="color:#fff">Providing exceptional services to the healthcare industry, ensuring patient safety and efficient medical solutions.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <div class="card small-card">
                <img class="card-img-top small-card-img" src="{% static 'images/s4.jpg' %}" alt="Healthcare Industry">
                <div class="card-body">
                    <h6 class="card-title" style="text-align: center;">School</h6>
                    <p class="card-text" style="color:#fff">Providing exceptional services to the healthcare industry, ensuring patient safety and efficient medical solutions.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <div class="card small-card">
                <img class="card-img-top small-card-img" src="{% static 'images/s5.jpg' %}" alt="Healthcare Industry">
                <div class="card-body">
                    <h6 class="card-title" style="text-align: center;">Govt. offices</h6>
                    <p class="card-text" style="color:#fff">Government Offices Streamline Services with New Online Portal for Efficiency.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <div class="card small-card">
                <img class="card-img-top small-card-img" src="{% static 'images/s6.jpg' %}" alt="Healthcare Industry">
                <div class="card-body">
                    <h6 class="card-title" style="text-align: center;">NGO
                    </h6>
                    <p class="card-text" style="color:#fff">NGO Launches Initiative to Empower Underprivileged Youth through Education</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <div class="card small-card">
                <img class="card-img-top small-card-img" src="{% static 'images/s7.jpg' %}" alt="Healthcare Industry">
                <div class="card-body">
                    <h6 class="card-title" style="text-align: center;">Manufacturing
                        Company</h6>
                    <p class="card-text" style="color:#fff">Manufacturing Company Unveils Eco-Friendly Production Line, Reducing Carbon Footprint.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..................................................................................................................-->
 <!-- Service End-->
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" data-mdb-carousel-init class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
      <button data-mdb-button-init class="carousel-control-prev position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon text-body" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button data-mdb-button-init class="carousel-control-next position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon text-body" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="{% static 'images/m2.jpg' %}" alt="avatar"
                style="width: 200px;" />
              <h5 class="mb-3">All Paramedical Staff</h5>
              <p>Services</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Administer medications, monitor for
                side effects, and educate patients and
                families about medication schedules
                and uses.
                
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="{% static 'images/m1.jpg' %}" alt="avatar"
                style="width: 200px;" />
              <h5 class="mb-3">Housekeeping & Security</h5>
              <p>Services</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Cleaning and Disinfection ,Waste Management, Laundry Services,  Supply Management, Safety Compliance, 
                Patient Interaction         
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="{% static 'images/m3.jpg' %}" alt="avatar"
                style="width: 200px;" />
              <h5 class="mb-3">Home Nursing
            </h5>
              <p>services</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Administer medications, monitor for
side effects, and educate patients and
families about medication schedules
and uses.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="far fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                officiis hic tenetur quae quaerat ad velit ab hic tenetur.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Alex Rey</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                suscipit laboriosam, nisi ut aliquid commodi.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque corrupti.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="far fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Anna Deynah</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                officiis hic tenetur quae quaerat ad velit ab hic tenetur.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                suscipit laboriosam, nisi ut aliquid commodi.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque corrupti.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="far fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->
<!--.......................................................................................................................-->
<section class="latest-podcast-section section-padding pb-0" id="section_2">
    <div class="container">
        <div class="row justify-content-center">

            </div>
            {% for job in recent_jobs %}
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <img src="{{a_book.audiobook_image.url}}" class="custom-block-image img-fluid" alt="">

                                <a href="" class="custom-block-icon">
                                    <li class="social-icon-item">
                                        <i class="social-icon-link fa fa-info-circle"></i>
                                    </li>
                                </a>
                            </a>
                        </div>

                        <div class="mt-2">
                            <a href="" class="btn custom-btn">
                                Subscribe
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="">
                                {{a_book.title}}
                            </a>
                        </h5>



                        <p class="mb-0 scrollable"><small>{{ a_book.description }}</small></p>

                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>
<!-- Category wise products -->

          
                    {% for category in category_obj %}
                    <div><a href="{% url 'admin_dashboard:catagory_list' %}" class="category-link" data-category="{{ category.title }}">{{ category.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container" >
        <div class="row" id="productList">
            
        </div>
    </div>

</section>


            {% for t_book,e_count in booksandepisode %}
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <a href="" class="custom-block-image-wrap">
                        <img src="{{t_book.audiobook_image.url}}" class="custom-block-image img-fluid" alt="">
                    </a>

                    <div class="custom-block-info custom-block-overlay-info">
                        <h5 class="mb-1">
                            <a href="">
                                <small>Details</small>
                            </a>
                        </h5>

                        <p class="badge mb-0">Episodes - {{e_count}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock main_content %}

{% block js_block %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetchProducts(""); // Fetch all products initially

        document.querySelectorAll('.category-link').forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                document.querySelectorAll('.category-link').forEach(function (link) {
                    link.classList.remove('active');
                });
                // Add 'active' class to the clicked link
                this.classList.add('active');
                var category = this.getAttribute('data-category');
                fetchProducts(category); // Fetch products based on the selected category
                console.log(category)
            });
        });
    });

    function fetchProducts(category) {
        var url = "/filter-books/?category=" + encodeURIComponent(category);
        fetch(url)
            .then(response => response.json())
            .then(data => {

                var productList = document.getElementById('productList');
                productList.innerHTML = '';
                if (data.length === 0) {
                    productList.innerHTML = '<div class="d-flex justify-content-center fw-bold">No products available</div>';
                } else {
                    data.forEach(product => {
                        var productHTML = `
                            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block custom-block-overlay">
                                    <a href="/productdetails/${product.id}" class="custom-block-image-wrap">
                                        <img src="${product.image_url}" class="custom-block-image img-fluid" alt="">
                                    </a>
                                    <div class="custom-block-info custom-block-overlay-info">
                                        <div class="mb-1"style="height: 50px;">
                                            <a href="">
                                                ${product.name}
                                            </a>
                                        </div>
                                        <div class="audio-container my-1 d-flex justify-content-center">
                                            <audio id="audio-${product.id}" src="${product.audio_file_url}"></audio>
                                            <a class="playpause-btn" onclick="togglePlayPause('audio-${product.id}',this)">
                                                <i class="social-icon-link fa fa-play"></i>
                                            </a>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="badge mb-0 bg-danger" style="text-decoration: line-through;">OldPrice: ${product.old_price}</p>
                                            <p class="badge mb-0 bg-success">Price: ${product.price}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        productList.innerHTML += productHTML;
                    });
                }
            })
            .catch(error => {
                console.error('Error fetching products:', error);
            });
    }
    function togglePlayPause(audioId, button) {
        var audio = document.getElementById(audioId);
        if (audio.paused) {
            audio.play();
            button.innerHTML = '<i class="social-icon-link fa fa-pause"></i>';
        } else {
            audio.pause();
            button.innerHTML = '<i class="social-icon-link fa fa-play"></i>';
        }
    }
</script>
{% endblock js_block %}