{% extends 'user/index.html' %}
{% load static %}
{% block title %}
User HomePage
{% endblock title %}
{% block main_content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
<div class="job-list-container">
    <div class="job-list">
        {% for job in job_list %}
        <div class="job-item">
            <div class="job-header">
                <h3 class="job-catagory">{{ job.catagory }}</h3>
                <p class="job-company">{{ job.company_name }}</p>
                <p class="job-location">{{ job.location }}</p>
            </div>
            <div class="job-meta">
                <p class="job-type">{{ job.job_type }}</p>
            </div>
            <div class="job-description">
                <p>{{ job.description }}</p>
            </div>
            <div class="job-footer">
                <p>Active {{ job.published_date|timesince }} ago</p>
                <a href="{% url 'user:job-apply' job.id %}" class="btn btn-primary">Apply now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock main_content %}
