<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/css/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h4>Pravati International </h4>

        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">My Job</a></li>
            <li><a href="#">Apply For Job</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
        <div class="profile">
            <div class="profile-my"><a href="{% url 'user:account_details' %}">My Profile</a></div>
            
            <img src="https://i.imgur.com/bDLhJiP.jpg" alt="Default Profile Picture" class="rounded-circle">
        </div>
    </div>
    <div class="main-content">
        <header>
            <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
