{% extends 'user/landing_page.html' %} {% load static %} {% block title %} Job
Opening {% endblock title %} 
{% block main_content %}
<style>
  

.img-banner
{
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
  
  .nft {
    user-select: none;
    max-width: 350px;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(
      0deg,
      rgba(40, 44, 52, 1) 0%,
      rgba(17, 0, 32, 0.5) 100%
    );
    
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 1s all;
    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }
    ins {
      text-decoration: none;
    }
    .main {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 1rem;
      .tokenImage {
        border-radius: 0.5rem;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .description {
        margin: 0.5rem 0;
        color: #a89ec9;
      }
      .tokenInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          display: flex;
          align-items: center;
          color: #ee83e5;
          font-weight: 700;
          ins {
            margin-left: -0.3rem;
            margin-right: 0.5rem;
          }
        }
        .duration {
          display: flex;
          align-items: center;
          color: #a89ec9;
          margin-right: 0.2rem;
          ins {
            margin: 0.5rem;
            margin-bottom: 0.4rem;
          }
        }
      }
      .creator {
        display: flex;
        align-items: center;
        margin-top: 0.2rem;
        margin-bottom: -0.3rem;
        ins {
          color: #a89ec9;
          text-decoration: none;
        }
        .wrapper {
          display: flex;
          align-items: center;
          border: 1px solid #ffffff22;
          padding: 0.3rem;
          margin: 0;
          margin-right: 0.5rem;
          border-radius: 100%;
          box-shadow: inset 0 0 0 4px #000000aa;
          img {
            border-radius: 100%;
            border: 1px solid #ffffff22;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            margin: 0;
          }
        }
      }
    }
    ::before {
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: 2s all;
    }
    &:hover {
      border: 1px solid #ffffff44;
      box-shadow: 0 0px 5px #000000aa;
      transform: scale(1.015);
      filter: brightness(1.3);
      ::before {
        filter: brightness(0.5);
        top: -100%;
        left: 200%;
      }
    }
  }
  .buttony
  {
    background-color: #6754e2;
    height:40px ;
    font-weight: bold;
    width: 130px;
    border-radius: 5px;
    color: white;
  }
  .buttony:hover
  {
    color:#6754e2;
    background-color: white;
  } 
</style>



  <!-- Banner -->
  <div class="img-banner">
    <img src="{% static 'images/se6.jpg' %}" alt="Banner Image" style="height: 100%; width: 100%;" />
  </div>

<div class="d-flex justify-content-evenly row mt-5">
  {% for job in jobs %}

    <div class="nft col-sm-4 px-4 mb-5">
    <div class="nft col-sm-4 px-4">
      <div class="main px-4">
        
          <div>

            <div style="height: 150px;">
            <h3 class="text-white" style="font-size: 20px; font-weight: bolder;">{{ job.title }}</h3>
            <h4 class="text-white" style="font-size: 20px; font-weight: bolder;">{{ job.category }}</h4>
            <p class="text-white">{{ job.company_name }}</p>
            <p class="text-white">{{ job.location }}</p>
            </div>
            <div style="height: 100px;">
              <p class="text-white">{{ job.job_type }}</p>
              <p class="text-white">{{ job.description }}</p>
            </div>
            <p class="text-white">Active {{ job.published_date|timesince }} ago</p>
            <a href="{% url 'user:login' %}" class="btn">Apply now</a>

          </div>

      
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock main_content %}
