{% extends 'user/index.html' %}
{% load static %}
{% block title %}
Apply For Job
{% endblock title %}

{% block main_content %} 
<style>
    .bg {
        font-family: poppins;
        color: #515a6e;
        background-color: #badbea;
        height: 100%;
        box-sizing: 0;
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .line {
        fill: none;
      }
      .container {
        position: relative;
        background-color: #fafafe;
        border-radius: 10px;
        margin: 40px;
        padding: 25px 20px 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        width: 500px;
        box-sizing: border-box;
      }
      .container:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 75%;
        background-color: #ffffff;
        border-radius: 10px;
        z-index: 2;
      }
      .card {
        position: relative;
        z-index: 2;
        padding-top: 10px;
      }
      .card_title {
        font-size: 24px;
        margin: 0;
      }
      .card_title-info {
        font-size: 14px;
        margin: 7px 0 10px;
      }
      .card_button {
        border-radius: 4px;
        border: none;
        outline: none;
        width: 100%;
        padding: 0 15px;
        font-size: 18px;
        line-height: 36px;
        font-weight: 500;
        margin: 15px 0 5px;
        color: #fff;
        background: linear-gradient(#000, #000);
        box-shadow: 0 2px 12px -3px #000;
        animation: btn 6.0s 3s infinite ease-in-out;
        opacity: 0.9;
        transition: all 0.3s;
      }
      .card_button:hover {
        opacity: 1;
        box-shadow: 0 2px 2px -3px #000;
      }
      .card_info {
        font-size: 14px;
      }
      .input {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
      }
      .input + .input {
        margin-top: 10px;
      }
      .input_label {
        color: #8597a3;
        position: absolute;
        top: 20px;
        transition: all 0.3s;
      }
      .input_field {
        border: 0;
        padding: 0;
        z-index: 1;
        background-color: transparent;
        border-bottom: 2px solid #eee;
        font: inherit;
        font-size: 14px;
        line-height: 30px;
      } 
      .input_field:focus, .input_field:valid {
        outline: 0;
        border-bottom-color: #665856;
      }
      .input_field:focus + .input_label, .input_field:valid + .input_label {
        color: #665856;
        transform: translateY(-25px);
      }
      .link {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 3;
      }
</style>
<div class="bg">
    <div class="container">
        <div class="card">
            <h1 class="card_title">Apply For Job</h1>
            <p class="card_title-info">
                We aim to build long-term
                relationships with our clients by
                consistently delivering exceptional
                service and value.
            </p>
            <form action="" method="post" class="card_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-2 input">
                {{field}}
                {{field.label}}
                </div>
                {% endfor %}    
                    <button class="card_button" type="submit">Apply Now</button>
            </form>
        </div>

        
</div>
</body>
{% endblock main_content %}
