y7{% extends 'user/index.html' %}
{% load static %}
{% block title %}
Search Items
{% endblock title %}
{% block main_content %}
<div class="row my-5 container">
    {% for i in all_searh_items %}
        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block custom-block-overlay">
                <a href="{% url 'user:productdetails' i.id %}" class="custom-block-image-wrap">
                    <img src="{{i.audiobook_image.url}}"
                        class="custom-block-image img-fluid" alt="">
                </a>

                <div class="custom-block-info custom-block-overlay-info">
                    <h5 class="mb-1">
                        <small>{{i.title}}</small>
                    </h5>

                    <p class="text-black">{{i.category.title}}</p>
                    <div class="d-flex justify-content-between">
                        <p class="text-black">₹ {{i.book_discount_price}}</p>
                        <p class="price text-danger" style="text-decoration: line-through;">₹ {{i.book_max_price}}</p>
                    </div>
                  

                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock main_content %}