{% extends 'user/landing_page.html' %}
{% load static %}
{% block title %}
Sector
{% endblock title %}
{% block main_content %}

<div class="responsive-container-block bigContainer">

  <div class="responsive-container-block Container bottomContainer my-0">
    <img class="mainImg" src="{% static 'images/se1.jpg' %}">
    <div class="allText bottomText">
      <p class="text-blk headingText">
        ALL PARAMEDICAL STAFF
      </p>
      
      <p class="text-blk description">
        Paramedical staff are healthcare professionals who support medical teams by assisting in diagnostics, therapeutic 
                        procedures, and patient care. They include lab technicians, radiographers, and emergency medical technicians, ensuring
                         efficient hospital operations. Their expertise and support are vital in enhancing patient care quality and enabling smooth
                          healthcare service delivery.Perform diagnostic imaging
                          examinations, such as X-rays, MRI, and
                          CT scans. They prepare patients for
                          procedures and ensure the images are
                          of high quality.Their specialized skills and training contribute to the overall healthcare delivery system, enhancing patient outcomes and satisfaction. Paramedical professionals work collaboratively with doctors and other healthcare providers to
                           deliver comprehensive and compassionate care across various healthcare settings.
      </p>
      <a href="{% url 'user:contactmessage' %}">
        <button class="explore">
        Explore
        </button>
      </a>
    </div>
  </div>

  <div class="responsive-container-block Container">
    <img class="mainImg" src="{% static 'images/se2.jpg' %}">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        HOUSEKEEPING
      </p>
      
      <p class="text-blk description">
        Our housekeeping and security services ensure a clean, safe, and well-maintained environment. Our professional housekeeping team excels in maintaining hygiene standards, performing thorough cleaning, and managing waste efficiently. They create a welcoming atmosphere, enhancing the overall appeal and comfort of your premises. Our security services provide vigilant protection, safeguarding your property and personnel with trained security personnel and advanced surveillance systems. We prioritize safety and cleanliness, allowing you to focus on your core activities with peace of mind. Trust our integrated approach for a secure, spotless,
                         and smoothly operated environment, tailored to meet your specific needs. 
      </p>
      <a href="{% url 'user:contactmessage' %}">
        <button class="explore">
        Explore
        </button>
      </a>
    </div>

    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="{% static 'images/se3.jpg' %}">
      <div class="allText bottomText">
        <p class="text-blk headingText">
          BEDSIDE PATIENT ATTENDANT
        </p>
        
        <p class="text-blk description">
          A bedside patient attendant provides essential care and support to patients in healthcare settings or at home. They assist with daily activities such as bathing, dressing, feeding, and mobility. Attendants monitor vital signs, administer medication, and ensure patients' comfort and safety. They also offer emotional support, engaging patients in conversation and addressing their concerns. By maintaining a clean and organized environment, they help prevent infections and promote recovery. Bedside attendants work under the supervision of medical professionals, following care plans and reporting changes in patients' conditions to ensure timely medical intervention. Their compassionate care is vital for patient well-being.
        </p>
        <a href="{% url 'user:contactmessage' %}">
          <button class="explore">
          Explore
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="responsive-container-block Container my-0">
    <img class="mainImg" src="{% static 'images/se9.jpg' %}">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        ITI, DIPLOMA, DEGREE ENGINEER
      </p>
      
      <p class="text-blk description">
        Industrial Training Institutes (ITIs) offer
technical education in various trades
and skills that prepare students for
employment in specific industries. ITIs
focus on providing vocational training
to develop skilled technicians and
craftsmen.
Diploma in Engineering programs offer a
comprehensive education in engineering
principles and practices. These programs
bridge the gap between ITI training and a
full engineering degree, providing more
in-depth technical education. A Bachelor of Engineering (B.E.) or
Bachelor of Technology (B.Tech) degree
offers comprehensive education and
training in various engineering
disciplines, focusing on both theoretical
concepts and practical applications. 
      </p>
      <a href="{% url 'user:contactmessage' %}">
        <button class="explore">
        Explore
        </button>
      </a>
    </div>

    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="{% static 'images/se5.jpg' %}">
      <div class="allText bottomText">
        <p class="text-blk headingText">
          DATA ENTRY, FRONT  & BACK OFFICE
        </p>
        
        <p class="text-blk description">
          Accurately enter data into various
          databases and systems from paper
          documents, forms, or other sources.Greet and assist visitors, patients, or
          clients. Answer phone calls and direct
          them to the appropriate personnel.Perform various administrative
          functions such as data management,
          filing, and document preparation.
          Data entry involves inputting and managing information into computer systems. 
          Front office roles interact directly with clients, handling inquiries and administrative tasks. 
          Back office roles focus on internal operations like data processing and support functions. Together,
           they ensure smooth business operations and customer satisfaction in various organizational settings.
          
        </p>
        <a href="{% url 'user:contactmessage' %}">
          <button class="explore">
          Explore
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="responsive-container-block Container my-0">
    <img class="mainImg" src="{% static 'images/se4.jpg' %}">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        HOME NURSING
      </p>
      
      <p class="text-blk description">
        Our home nursing services offer professional medical care in the comfort of your home. Our nurses are skilled and empathetic.Administer medications, monitor for
                                  side effects, and educate patients and
                                  families about medication schedules
                                  and uses.Help with activities of daily living (ADLs)
                                  such as bathing, dressing, grooming,
                                  and toileting.Provide emotional support and
                                  companionship to reduce feelings of
                                  isolation and loneliness. By coordinating with physicians and other healthcare providers, home nurses create personalized care plans tailored to each patient's needs, 
                                  promoting recovery and improving quality of life while reducing hospital readmissions.
      </p>
      <a href="{% url 'user:contactmessage' %}">
        <button class="explore">
        Explore
        </button>
      </a>
    </div>

    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="{% static 'images/se7.jpg' %}">
      <div class="allText bottomText">
        <p class="text-blk headingText">
          FIRE SAFETY & OFFICE BOY
        </p>
        
        <p class="text-blk description">
          Fire safety involves implementing measures to prevent and respond to fires effectively, ensuring the safety of occupants and property. 
                        This includes fire drills, fire extinguisher training, and maintaining emergency exits clear. An office boy supports daily office
                         operations by handling administrative tasks like filing, photocopying, and delivering documents. They contribute to office efficiency
                          and organization, assisting staff with basic needs and ensuring a conducive work environment. Both roles are crucial in maintaining
                           workplace safety and operational efficiency, promoting a secure and productive atmosphere for employees and visitors alike.
        
        </p>
        <a href="{% url 'user:contactmessage' %}">
          <button class="explore">
          Explore
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="responsive-container-block Container my-0 pb-5">
    <img class="mainImg" src="{% static 'images/sec2.jpg' %}">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        SECURITY
      </p>
      
      <p class="text-blk description">
        Security is the state of being protected against threats or danger. It encompasses measures and practices designed to safeguard individuals,
 organizations, and assets from various risks, such as physical harm, theft, and espionage. Effective security involves 
 implementing policies, procedures, and technologies to prevent, detect, and respond to potential threats. It includes physical security measures like locks and surveillance, cybersecurity strategies such as firewalls and encryption, and procedural safeguards like access controls and employee training. Overall,
 security aims to ensure safety, confidentiality, integrity, and availability of resources and information.
      </p>
      <a href="{% url 'user:contactmessage' %}">
        <button class="explore">
        Explore
        </button>
      </a>
    </div>
  
</div>

</div>



{% endblock main_content %}