{% extends "admin/base_site.html" %}
{% block content %}
<h1>Invoices</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Total Amount</th>
        <th>Created At</th>
    </tr>
    {% for invoice in invoices %}
    <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.client.username }}</td>
        <td>{{ invoice.total_amount }}</td>
        <td>{{ invoice.created_at }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'billing:invoice_create' %}">Create Invoice</a>
{% endblock %}
