{% extends 'shoppingsite/base.html' %}
{% load static %}
{% block title %}Password Change Success Page{% endblock %}
{% block main-content %}
<section>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="">
                <h3>Password Changed Successfully. Please Check It.</h3>
                <center>
                    <div>
                        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}