
{% extends 'app_common/authentication/master.html' %}
{% load static %}
{% block content %}
<body>
<style>
    body, html {
        height: 100%;
        margin: 0;
        
    }
    .bg-bg {
        background: linear-gradient(349deg, rgba(199,144,242,1) 0%, rgba(202,164,244,1) 48%, rgba(234,146,133,1) 80%);
        width: 100%;
        height: 100vh;
    }
    .card {
        border-radius: 10px;
        width: 500px;
        padding: 25px;
        height: 30rem;
    }
    .card-body {
        padding: 2rem;
        
    }
    .form-label {
        color: #ffffff;
    }
    .btn-primary {
        width: 100%;
    }
    .text-muted {
        color: #ffffff !important;
    }
    .text-primary-hover:hover {
        color: #007bff !important;
    }
    .text-warning {
        color: #ffc107 !important;
    }
    #CaRd{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>


    <div class="bg-bg d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-9 col-lg-7" id="CaRd">
            <div class="card">
                <div class="card-body">
                    <h1 class="ls-tight font-bolder h2 text-center">Log In Here</h1>
                    <form method="post" action="">
                        <div class="form-group mt-2">
                            {% include 'snippets/alert.html' %}
                        </div>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="form-group mt-5">
                            <button class="btn btn-primary" type="submit">Sign in</button>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'user:forgot_password' %}" class="text-sm text-muted text-primary-hover" style="font-weight: bold;">Forgot password?</a>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <small>Don't have an account?</small>
                        <a href="{% url 'user:signup' %}" class="text-warning text-sm font-semibold">Sign up</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'app_common/js/main.js'%}"></script></body>
{% endblock content %}

