{% extends 'shoppingsite/index.html' %}
{% load static %}
{% block title %}
Address
{% endblock title %}
{% block main_content %}
<div class="container mt-5">
    <div class="row">
        <h5 class="card-title">{{request.user.full_name}} Your Address</h5>
        {% if address %}
            {% for i in address %}
            <div class="card mx-2 mb-2 text-black" style="width: 23rem; background-color: #9FE2BF;">
                <div class="card-body">
                    <p class="card-text">
                        <li>Landmark 1 : {{i.landmark1}}</li>
                        <li>Landmark 2 : {{i.landmark2}}</li>
                        <li>Country : {{i.country}}</li>
                        <li>State : {{i.state}}</li>
                        <li>City : {{i.city}}</li>
                        <li>Zipcode : {{i.zipcode}}</li>
                    </p>
                    <a href="{% url 'shoppingsite:delete_address' i.id %}" class="card-link btn btn-danger">Delete</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <a href="{% url 'shoppingsite:addaddress' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                Add Address
            </a>
        {% endif %}
    </div>
</div>
{% endblock main_content %}