{% extends 'shoppingsite/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block main-content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 d-flex align-items-center justify-content-center bg-warning text-white p-5">
            <div>
                <h1>Discover the Future With Audiobooks!</h1>
                <p class="mb-4"><em>Reality doesn’t always give us the life that we desire, but we can always find what
                        we desire between the pages of books.<br>Books are a uniquely portable magic.</em></p>
                <a href="" class="btn btn-light btn-lg">Shop Now &#10142;</a>
            </div>
        </div>
        <div class="col-md-6 col-12 px-0 py-0">
            <img class="img-fluid w-100 h-100" src="{% static 'shopingsite/banner1.jpg' %}" alt="">
        </div>
    </div>
</section>

<!--- Featured Products -->
<div class="row my-5 container">
    {% for i in audioBooks %}
        <div class="col-md-2 col-sm-6">
            <div class="product-grid border-bottom border-success" style="max-width: 200px; height: 300px;"> <!-- Adjust height and width as needed -->
                <div class="product-image">
                    <a href="{% url 'shoppingsite:productdetails' i.id %}" class="image">
                        <img class="pic-1" src="{{i.audiobook_image.url}}">
                        <img class="pic-2" src="{{i.audiobook_image.url}}">
                    </a>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a href="#"><i class="far fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-random"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <!-- <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul> -->
                    <h6 style="font-size: 10px;">{{i.title}}</h6>
                    <small class="fw-bold" style="font-size: 12px;">{{i.category.title}}</small>
                   
                    <div class="price">{{i.book_discount_price}}</div>
                    
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Contact Us Section -->
<section id="contact" class="container my-5">
    <div class="row">
        <div class="col-12 mb-4">
            <h2 class="text-center">Contact Us</h2>
        </div>
        <div class="col-md-8 mx-auto border rounded p-4 shadow-sm">
            <!-- Assuming you might want a form for the users to fill out -->
            <form>
                <div class="mb-3">
                    <label for="contactName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="contactName" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                    <label for="contactEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="contactEmail" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="contactMessage" class="form-label">Message</label>
                    <textarea class="form-control" id="contactMessage" rows="3" placeholder="Your message"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock main-content %}