{% extends 'shoppingsite/base.html' %}
{% load static %}
{% block title %}
Orders Page
{% endblock title %}

{% block main-content %}
<section style="margin-top: 50px;">
  <header>
    <div class="container-fluid">
      <div class="pt-6 pb-2">
        <div class="row align-items-center">
          <div class="col-sm col-12">
            <h1 class="h2 ls-tight">Order List</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
      <div class="vstack gap-4">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-hover table-nowrap">
              <thead class="table-light">
                <tr>
                  <th scope="col">ORD_ID</th>
                  <th scope="col">Products</th>
                  <th scope="col">Order Ammount</th>
                  <th scope="col">status</th>
                  <th>Invoice</th>
                </tr>
              </thead>
              <tbody id="test_table_tbody">
                {% for order,product,isplan in order_and_products %}
                <tr>
                  <td>
                    <a>
                      {{order.uid}}
                    </a>
                  </td>
                  <td>
                    {% for i,j in order.products.items %}
                    {{i}} : {{j}} <br>
                    {% endfor %}
                  </td>
                  <td>
                    {{order.order_value}}
                  </td>
                  {% if order.order_status == "Accepted" %}
                  <td>
                    <p class="text-success">
                      {{order.order_status}}
                    </p>
                  </td>
                  {% else %}
                  <td>
                    <p class="text-black">
                      {{order.order_status}}
                    </p>
                  </td>
                  {% endif %}
                  <td>
                    <a href="{% url 'shoppingsite:invoice' order.uid %}" class="btn btn-sm btn-square btn-neutral btn-primary">
                      Invoice
                    </a>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
{% endblock main-content %}