{% extends 'shoppingsite/index.html' %}
{% load static %}
{% block title %}
Subscription Details
{% endblock title %}
{% block main_content %}

{% if subscription_user %}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Plan : {{plan_order_obj.plan.title}}</h5>
                  <div class="mt-1 mb-0 text-muted small border-bottom border-1">
                    <h6><small>Features :   </small></h6>
                    {% for i in features %}
                        <div class="mb-1">
                            <span class="text-primary"> • </span>
                            <span>{{i}}</span>
                        </div>
                    {% endfor %}
                  </div>
                  <div class="mt-2 mb-2 text-muted small">
                    <div>
                        <span class="text-secondary fw-bold">Start Date : </span>
                        <span>{{plan_order_obj.start_date}}</span>
                    </div>
                    <div>
                        <span class="text-secondary fw-bold">End Date : </span>
                        <span>{{plan_order_obj.end_date}}</span>
                    </div>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0 fw-bold">
                    Remaining : {{plan_order_obj.days_left}} days
                  </p>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 border-sm-start-none border-start">
                  <!-- <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$13.99</h4>
                    <span class="text-danger"><s>$20.99</s></span>
                  </div> -->
                  <h6 class="text-success">Subscription Taken</h6>
                  <h6><small>by : {{plan_order_obj.user.full_name}}</small></h6>
                  <div class="d-flex mt-4 justify-content-center">
                    <button class="btn btn-danger mx-1" data-toggle="modal" data-target="#exampleModal">Cancel Subscription</button> 
                </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Give Reason</h5>
                          <a type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: x-large;">
                            <span aria-hidden="true">&times;</span>
                          </a>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input name="reason" type="text" class="form-control"/>
                                <div style="text-align: center;">
                                    <button class="btn btn-danger mt-2" type="submit">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% else %}
<p class="fw-bold text-black text-center my-3"><span class="text-danger">Not a single plan taken by you.</span> Please take a subscription plan.</p>
{% endif %}

{% endblock main_content %}