{% extends 'shoppingsite/base.html' %}
{% load static %}

{% block title %}
    Subscription
{% endblock title %}

{% block main-content %}
<div class="section mt-5">
    <div class="d-flex align-items-center justify-content-center" style="height: 250px;">
        <div>
            <table class="table table-striped">
                <tr>
                    <td>
                        <ul>
                            <li>Plan Name</li>
                            <li>Plan Price</li>
                            <li>GST</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><b>{{plan_obj.title}}</b></li>
                            <li><b>{{plan_obj.price}}</b></li>
                            <li><b>{{gst}}</b></li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <div style="text-align: center;">
                                <h3>Order Total</h3>
                                <h3><span style="color:green;">{{grandtotal}}</span></h3>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div style="text-align: center;" class="mt-3">
                                <h3><a href="{% url 'shoppingsite:usertakesubscription' plan_obj.id %}" class="btn border border-2 btn-primary">Pay Now</a></h3>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>
{% endblock main-content %}