{% extends 'user/client/client_stater.html' %} 
{% load static %} 
{% block content %}

<style>
    .openings {
        height: 200px;
        border: 1px solid rgb(4, 197, 4);
        padding: 10px;
        margin-bottom: 10px; /* Adds spacing between boxes */
        border-radius: 15px;
    }
    .openings:hover
    {
        color:rgb(4, 197, 4) ;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    .text-center
    {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<div class="">
  <h1 class="text-center py-4">Job openings</h1>
  <div class="row">
    {% for job in jobs %}
    <div class="col-md-4 text-center">
      <a href="{% url 'user:application_list' job.id %}">
        <div class="openings">
            {% if job.company_logo %}
                                <img src="{{ job.company_logo.url }}" class="rounded-circle" style="width: 100px; height: 100px;">
                                {% else %}
                                No logo available
                                {% endif %}
                                <br>
                                Job title:- {{ job.title }}
                                <br>
                                Category :- {{ job.category }}
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
