{% extends 'user/client/client_stater.html' %}
{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

    body {
        background-color: #f4f7fa;
        font-family: 'Poppins', sans-serif;
    }

    .container {
        max-width: 400px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 20px;
        background: #ecf0f3;
        box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    }

    .brand-title {
        font-weight: 900;
        font-size: 1.8rem;
        color: #1DA1F2;
        text-align: center;
        margin-bottom: 20px;
    }

    .inputs {
        margin-top: 20px;
    }

    label {
        margin-bottom: 5px;
        font-weight: 600;
    }

    input {
        background: #ecf0f3;
        padding: 10px 15px;
        height: 50px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid #dcdcdc;
        box-shadow: inset 2px 2px 5px #cbced1, inset -2px -2px 5px white;
        width: 100%;
        margin-bottom: 15px;
        transition: border-color 0.3s;
    }

    input:focus {
        border-color: #1DA1F2;
        outline: none;
    }

    button {
        color: white;
        margin-top: 20px;
        background: #1DA1F2;
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 900;
        transition: all 0.3s;
        width: 100%;
    }

    button:hover {
        background: #0a85c7;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .form-error {
        color: red;
        margin-top: -10px;
        margin-bottom: 15px;
        font-size: 12px;
    }
</style>

<div class="container">
  <div class="brand-title">Replace Employee</div>
  <div class="inputs">
      <form method="post" action="{% url 'user:replace_employee' clientemployee_id=clientemployee.id %}">
          {% csrf_token %}

          {{ form.email.label_tag }}
          {{ form.email }}  <!-- This should now show the pre-filled email -->
          {% if form.email.errors %}
              <div class="form-error">{{ form.email.errors }}</div>
          {% endif %}

          {{ form.new_employee_name.label_tag }}
          {{ form.new_employee_name }}
          {% if form.new_employee_name.errors %}
              <div class="form-error">{{ form.new_employee_name.errors }}</div>
          {% endif %}

          {{ form.new_employee_email.label_tag }}
          {{ form.new_employee_email }}
          {% if form.new_employee_email.errors %}
              <div class="form-error">{{ form.new_employee_email.errors }}</div>
          {% endif %}

          {{ form.new_employee_phone.label_tag }}
          {{ form.new_employee_phone }}
          {% if form.new_employee_phone.errors %}
              <div class="form-error">{{ form.new_employee_phone.errors }}</div>
          {% endif %}

          <button type="submit">Submit</button>
      </form>
  </div>
</div>
{% endblock %}
