{% extends 'admin_dashboard/starter.html' %}
{% load static %}
{% load admin_dash %}

{% block content %}
<style>
  .card {
    font-family: merriwether;
  }
  .table thead th {
    font-size: 16px;
  }
  .card-header:first-child {
    box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3);
  }
  tr:hover {
    background-color: rgb(244, 212, 169);
  }
</style>
<main class="py-6 bg-surface-secondary">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header border-bottom">
        <h2 class="mb-0">Contact Request List</h2>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
          <thead class="table-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Contact</th>
              <th scope="col">Email</th>
              <th scope="col">Message</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for message in message_list %}
              <tr>
                <td>{{ message.user.full_name }}</td>
                <td>{{ message.user.contact }}</td>
                <td>{{ message.user.email }}</td>
                <td>
                  {{ message.message }} <!-- Display the full message here -->
                </td>
                <td>{{ message.created_at }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
